.feature {
   background: linear-gradient(
      to right bottom,
      rgba(#f7f7f7, 0.9),
      rgba(#eee, 0.8)
   );
   padding: 3rem;
   box-shadow: 0 2rem 6rem rgba($color-black, 0.2);
   transition: all $transition-duration;

   @include respond($phone) {
      padding: 2rem 1.5rem;
   }

   &:hover {
      box-shadow: 0 2rem 8rem rgba($color-black, 0.3);
      transform: translateY(-1rem);
   }

   &__icon {
      font-size: 6rem;
      background-image: linear-gradient(
         to right,
         rgba($color-light-green, 0.9),
         rgba($color-dark-green, 0.9)
      );
      background-clip: text;
      color: transparent;

      @include respond($phone) {
         font-size: 4rem;
      }
   }
}
