// Contains animations

// Heading animation
@keyframes moveFromLeftToRight {
   0% {
      opacity: 0;
      transform: translateX(-10rem);
   }

   80% {
      transform: translateX(2rem);
   }

   100% {
      transform: translate(0);
      opacity: 1;
   }
}

// Heading animation
@keyframes moveFromRightToLeft {
   0% {
      transform: translateX(10rem);
      opacity: 0;
   }

   80% {
      transform: translateX(-2rem);
   }

   100% {
      transform: translate(0);
      opacity: 1;
   }
}

// Button animation
@keyframes moveFromBottomToTop {
   0% {
      opacity: 0;
      transform: translateY(5rem);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
}
