// Center text
.u-center-text {
   text-align: center;
}

// Small margin bottom
.u-margin-bottom-small {
   margin-bottom: 1.5rem;
}

// Medium margin bottom
.u-margin-bottom-medium {
   margin-bottom: 3rem;
}

// Big margin bottom
.u-margin-bottom-big {
   margin-bottom: 6rem;

   @include respond($phone) {
      margin-bottom: 3rem;
   }

   @include respond($tablet-port) {
      margin-bottom: 4rem;
   }

   @include respond($tablet-port) {
      margin-bottom: 5rem;
   }
}

// Huge margin bottom
.u-margin-bottom-huge {
   margin-bottom: 10rem;

   @include respond($phone) {
      margin-bottom: 7rem;
   }

   @include respond($tablet-port) {
      margin-bottom: 8rem;
   }

   @include respond($tablet-land) {
      margin-bottom: 9rem;
   }
}

// Padding
.u-section-padding {
   padding: 15rem 0;

   @include respond($phone) {
      padding: 8rem 0;
   }

   @include respond($tablet-port) {
      padding: 10rem 0;
   }

   @include respond($tablet-land) {
      padding: 12rem 0;
   }
}

// Unstyled List
.u-list-unstyled {
   list-style: none;
}
